<h1>Off The Rails</h1>
<%= button_to 'Create post', new_post_path, method: :get %>

<% @posts.sort_by { |post| post.created_at }.each do |post|%>
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>
<% end %>
