<h1>Off The Rails</h1>
<%= button_to 'Create post', new_post_path, method: :get %>

<% @posts.sort_by { |post| post.created_at }.each do |post|%>
  <div id= "post">
    <h2 class="post-title"><%= post.title %></h2>
    <p class ="post-date"><%= post.created_at %></p>
    <p class ="post-content"><%= post.content %></p>
  </div>

<% end %>
