

.post-content{
  font-size: 0.8em;
}

.post-date{
  font-size: 0.7em;
  color: #314882;
}

#post{
  background-color: #FFF;
  border-radius: 30px;
  padding: 30px;
  margin: 30px;
}

.button-container{
  // background-color: #fff;
  width:110px;
  margin: auto;
}

.delete-button {
  border-radius: 25px;
  font-size: 12px;
  border: none;
  padding: 5px 10px;
  background-color: #ec297b;
  color: #fff;
  text-align: center;
  font-family: "CallingCode-Regular";
  text-decoration: none;
}

.delete-button:hover {
  background-color: #ba1f60;
}
