.form{
  background-color: #FFF;
  border-radius: 30px;
  padding: 30px;
  margin: 30px;
}


.content{
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: #ba1f60;
}

.title{
  margin-bottom: 10px;
  border-radius: 2px;
  border-color: #ba1f60;
}
